#global
ENV=development

POSTGRES_DB=***
POSTGRES_USER=***
POSTGRES_PASSWORD=***
DATABASE_URL=***
REDIS_URL=***

PGADMIN_EMAIL=***
PGADMIN_PASSWORD=***

#engine

#server
SERVER_ADDR=:8080

#client
VITE_API_BASE_URL=***